*{
    margin: 0;
    padding: 0;
}
.body{
    padding: 0%;
    margin: 0%;
}
.parent{
    width: 100%;
    height: 100vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text3{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text4{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text5{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.suppor_us{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.backtohomebutton{
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: start ;
}