*{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0%;
    padding: 0%;
}
.parents{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: burlywood;
}
.sign_up{
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: center;
}
.email{
    width: auto;
    height: 10%;
}
.password{
    width: auto;
    height: 10%;
}
.repass{
    width: auto;
    height: 10%;
}
.button{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#stepparent{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: pink;
    border-radius: 50px;
    border: floralwhite solid 10px;
}